flows.json
[{"id":"a38f1ca9.b0027","type":"tab","label":"Test Flow","disabled":false,"info":""},{"id":"56baf7b3.cc6208","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"39aeff1d.ede7a","type":"server","z":"","name":"Home Assistant","url":"https://home.apocrathia.com:8123","pass":""},{"id":"6f6dca5e.ab5fd4","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"4130e1b.3bad52","type":"ui_group","z":"","name":"Test","tab":"6f6dca5e.ab5fd4","disp":true,"width":"6","collapse":false},{"id":"e83c4cf9.428e","type":"api-call-service","z":"a38f1ca9.b0027","name":"Test Notification","server":"39aeff1d.ede7a","service_domain":"notify","service":"ios_ians_iphone","data":"{ \"message\": \"Node-RED Test\" }","mergecontext":"","x":320,"y":80,"wires":[["6f42cfbf.6229c"]]},{"id":"5676d302.4fedcc","type":"inject","z":"a38f1ca9.b0027","name":"Click Me!","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":60,"wires":[["e83c4cf9.428e"]]},{"id":"a0283113.dcd11","type":"ui_button","z":"a38f1ca9.b0027","name":"","group":"4130e1b.3bad52","order":0,"width":0,"height":0,"passthru":false,"label":"Click Me!","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":100,"wires":[["e83c4cf9.428e"]]},{"id":"6f42cfbf.6229c","type":"ui_toast","z":"a38f1ca9.b0027","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Notification Sent!","name":"UI Popup","x":500,"y":80,"wires":[]}]