flows.json
[{"id":"a38f1ca9.b0027","type":"tab","label":"Test Flow","disabled":false,"info":""},{"id":"39aeff1d.ede7a","type":"server","z":"","name":"Home Assistant","url":"https://home.apocrathia.com:8123","pass":""},{"id":"e83c4cf9.428e","type":"api-call-service","z":"a38f1ca9.b0027","name":"","server":"39aeff1d.ede7a","service_domain":"notify","service":"ios_ians_iphone","data":"{ \"message\": \"Node-RED Test\" }","mergecontext":"","x":400,"y":80,"wires":[[]]},{"id":"5676d302.4fedcc","type":"inject","z":"a38f1ca9.b0027","name":"Click Me!","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":80,"wires":[["e83c4cf9.428e"]]},{"id":"181c6e9d.bf9961","type":"status","z":"a38f1ca9.b0027","name":"","scope":null,"x":120,"y":160,"wires":[[]]}]