flows.json
[{"id":"d4039cd9.df9bd","type":"tab","label":"MQTT Console","disabled":false,"info":""},{"id":"a38f1ca9.b0027","type":"tab","label":"Test Flow","disabled":false,"info":""},{"id":"ffcca3e8.9cb7d","type":"tab","label":"Neptune Apex","disabled":true,"info":"Testing to see if I can use the JSON parser in here to get data out of my aquarium controller easily."},{"id":"f92783dc.35039","type":"tab","label":"Outdoor Lighting","disabled":true,"info":""},{"id":"6f6dca5e.ab5fd4","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"4130e1b.3bad52","type":"ui_group","z":"","name":"Test Group","tab":"6f6dca5e.ab5fd4","disp":true,"width":"6","collapse":false},{"id":"5c429b23.bb5444","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"dc47ea19.3d1258","type":"server","z":"","name":"Home Assistant","url":"https://home.apocrathia.com:8123","pass":""},{"id":"5ebeed27.cc4f04","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"34.620255","longitude":"-86.528736"},{"id":"5009d5fd.d50f0c","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"mqtt.apocrathia.com","port":"1883","clientid":"node-red-debug","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e83c4cf9.428e","type":"api-call-service","z":"a38f1ca9.b0027","name":"Test Notification","server":"dc47ea19.3d1258","service_domain":"notify","service":"ios_ians_iphone","data":"{ \"message\": \"Node-RED Test\" }","mergecontext":"","x":320,"y":80,"wires":[["6f42cfbf.6229c"]]},{"id":"5676d302.4fedcc","type":"inject","z":"a38f1ca9.b0027","name":"Click Me!","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":60,"wires":[["e83c4cf9.428e"]]},{"id":"a0283113.dcd11","type":"ui_button","z":"a38f1ca9.b0027","name":"","group":"4130e1b.3bad52","order":0,"width":0,"height":0,"passthru":false,"label":"Click Me!","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":100,"wires":[["e83c4cf9.428e"]]},{"id":"6f42cfbf.6229c","type":"ui_toast","z":"a38f1ca9.b0027","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Notification Sent!","name":"UI Popup","x":500,"y":80,"wires":[]},{"id":"6459ef6f.a8101","type":"http request","z":"ffcca3e8.9cb7d","name":"","method":"GET","ret":"txt","url":"http://apex.apocrathia.com/status.json","tls":"","x":370,"y":220,"wires":[["28e7497.c2538b6"]]},{"id":"850b7732.69a628","type":"inject","z":"ffcca3e8.9cb7d","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":220,"wires":[["6459ef6f.a8101"]]},{"id":"28e7497.c2538b6","type":"json","z":"ffcca3e8.9cb7d","name":"","property":"payload","action":"","pretty":false,"x":550,"y":220,"wires":[["6671229f.4789fc"]]},{"id":"8d1a651c.b2b0d8","type":"ui_gauge","z":"ffcca3e8.9cb7d","name":"","group":"4130e1b.3bad52","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":220,"wires":[]},{"id":"6671229f.4789fc","type":"api-current-state","z":"ffcca3e8.9cb7d","name":"","server":"dc47ea19.3d1258","halt_if":"","override_topic":false,"override_payload":true,"entity_id":"sensor.apex_test","x":790,"y":220,"wires":[["8d1a651c.b2b0d8"]]},{"id":"4efeff3.c9186","type":"mqtt in","z":"d4039cd9.df9bd","name":"ALL MQTT Messages","topic":"#","qos":"2","broker":"5009d5fd.d50f0c","x":220,"y":160,"wires":[["a65ec638.924ae8"]]},{"id":"a65ec638.924ae8","type":"debug","z":"d4039cd9.df9bd","name":"Debug Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":500,"y":160,"wires":[]},{"id":"7011d2e0.be91ec","type":"debug","z":"a38f1ca9.b0027","name":"Debug Output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":520,"y":160,"wires":[]},{"id":"8632a16c.916b7","type":"api-current-state","z":"a38f1ca9.b0027","name":"Sun","server":"dc47ea19.3d1258","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"sun.sun","x":310,"y":200,"wires":[["7011d2e0.be91ec","d6dcc3d0.bd9e6"]]},{"id":"4074cdd7.19bed4","type":"poll-state","z":"a38f1ca9.b0027","name":"","server":"dc47ea19.3d1258","updateinterval":"","outputinitially":false,"outputonchanged":false,"entity_id":"sun.sun","x":130,"y":200,"wires":[["8632a16c.916b7"]]},{"id":"d6dcc3d0.bd9e6","type":"ui_gauge","z":"a38f1ca9.b0027","name":"Sun","group":"4130e1b.3bad52","order":0,"width":0,"height":0,"gtype":"gage","title":"Sun","label":"units","format":"{{data.attributes.elevation}}","min":0,"max":"180","colors":["#ffffff","#ffffff","#ffffff"],"seg1":"","seg2":"","x":490,"y":220,"wires":[]},{"id":"5d6a9d03.7f6d14","type":"mqtt out","z":"d4039cd9.df9bd","name":"Send MQTT Message","topic":"","qos":"","retain":"","broker":"5009d5fd.d50f0c","x":520,"y":260,"wires":[]},{"id":"177568b8.9e51c7","type":"inject","z":"d4039cd9.df9bd","name":"Test Message","topic":"node-red/test","payload":"Test from Node-RED","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":260,"wires":[["5d6a9d03.7f6d14"]]},{"id":"340c561c.fd3eda","type":"sunrise","z":"f92783dc.35039","name":"","lat":"34.620255","lon":"-86.528736","start":"sunrise","end":"sunset","x":170,"y":140,"wires":[[],["20a7c65a.ad495a"]]},{"id":"7c459e63.dd70a","type":"debug","z":"f92783dc.35039","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":540,"wires":[]},{"id":"4c48e01a.42f6","type":"api-call-service","z":"f92783dc.35039","name":"","server":"dc47ea19.3d1258","service_domain":"light","service":"turn_on","data":"{   \"entity_id\": \"light.front_porch_lights\",   \"brightness\": 127,   \"color_temp\": 153,   \"hs_color\": [     6.778,     93.725   ],   \"rgb_color\": [     255,     43,     16   ],   \"xy_color\": [     0.685,     0.308   ],   \"transition\": 900 }","mergecontext":"","x":690,"y":120,"wires":[[]]},{"id":"20a7c65a.ad495a","type":"switch","z":"f92783dc.35039","name":"Transition","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":180,"wires":[["4c48e01a.42f6"],["6818268e.f0b2f8"]],"outputLabels":["Night Time","Day Time"]},{"id":"6818268e.f0b2f8","type":"api-call-service","z":"f92783dc.35039","name":"","server":"dc47ea19.3d1258","service_domain":"light","service":"turn_off","data":"","mergecontext":"","x":690,"y":220,"wires":[[]]},{"id":"a8b77ba4.12fd08","type":"light-scheduler","z":"f92783dc.35039","settings":"5ebeed27.cc4f04","events":"[]","topic":"lights/outdoor/scheduler","name":"","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":true,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":400,"y":480,"wires":[["7c459e63.dd70a"]]},{"id":"8bd2f601.cccda8","type":"trigger-state","z":"f92783dc.35039","name":"Front Door Motion","server":"dc47ea19.3d1258","entityid":"binary_sensor.ring_front_door_motion","debugenabled":false,"constraints":[{"id":"6dvfu3pu1y6","targetType":"entity_id","targetValue":"sun.sun","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"below_horizon"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"x":210,"y":340,"wires":[["cb294d07.43c1c"],[]]},{"id":"cb294d07.43c1c","type":"api-call-service","z":"f92783dc.35039","name":"","server":"dc47ea19.3d1258","service_domain":"light","service":"turn_on","data":"{   \"entity_id\": \"light.front_porch_lights\",   \"profile\": \"energize\",   \"transition\": 1 }","mergecontext":"","x":450,"y":380,"wires":[[]]}]